---
layout: null
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*
* CoScale font and colors
*/
$brand-primary: #f5a153;
$font-family-sans-serif: 'Open Sans', Arial, Geneva, sans-serif;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

/*
* Bootstrap specific
*/
$icon-font-path: "{{ site.baseurl }}/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "{{ site.baseurl }}/bower_components/font-awesome/fonts/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome.scss";

/*
* Custom class for more spacing between elements
*/
.spacing-top {
    margin-top: 20px;
}

h2, h3, h4 {
    a {
        position: relative;
        display: inline-block;
        &:before {
            content: "\2924";
            position: absolute;
            right: -30px;
            top: -5px;
        }
    }
}

/*
* Sidebar menu
*/
.sidebar {
    display: none;
    max-width: 310px;

    #logo {
        margin-top: 20px;
        margin-bottom: 40px;
        margin: 20px auto 40px auto;
    }

    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;

        // Accordion
        & li ul {
            display: none;
            margin: 5px 0 20px 0;

            li {
                padding: 5px 0px 5px 8px;

                ul {
                    margin-left: -30px;
                }
            }
        }

        & li.active ul {
            display: block;
        }

        & > li > a {
            padding-right: 20px;
            padding-left: 20px;
            color: #EEE;

            &:hover {
                color: #000;
            }

            .glyphicon {
                margin-right: 10px;
            }
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            color: #fff;
            background-color: #f5a153;
        }
    }

    .footer {
        text-align: center;
        font-size: 12px;
        color: #EEE;
    }
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: black;
        border-right: 1px solid #eee;
    }
}




/*
* Main content
*/
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main {
    padding: 20px 40px;
    max-width: 1024px;

    .page-header {
        margin-top: 0;
    }

    ul, ol {
        padding: 10px 0px 10px 40px;
    }

    p {
        padding: 10px 0;
    }

    .fa-lg {
        font-size: 1.8em;
    }

    table {
        @extend .table;
    }

    &.swagger-section {
        font-size: 1.2em;
    }

    .highlight {
        padding: 10px 0;

        pre {
            background-color: black;
            color: #EFE;
            font-weight: 500;

            code {
                font-family: Andale Mono, monospace;
            }
        }

        .lineno {
            margin-right: 10px;
            color: #EEE;
        }
        .language-text { color: #fff; }
        .hll { background-color: #ffffcc }
        .c { color: #87ceeb} /* Comment */
        .err { color: #ffffff} /* Error */
        .g { color: #ffffff} /* Generic */
        .k { color: #f0e68c} /* Keyword */
        .l { color: #ffffff} /* Literal */
        .n { color: #ffffff} /* Name */
        .o { color: #ffffff} /* Operator */
        .x { color: #ffffff} /* Other */
        .p { color: #ffffff} /* Punctuation */
        .cm { color: #87ceeb} /* Comment.Multiline */
        .cp { color: #cd5c5c} /* Comment.Preproc */
        .c1 { color: #87ceeb} /* Comment.Single */
        .cs { color: #87ceeb} /* Comment.Special */
        .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
        .ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
        .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
        .gh { color: #cd5c5c} /* Generic.Heading */
        .gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
        span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
        .gp { color: #ffffff} /* Generic.Prompt */
        .gs { color: #ffffff} /* Generic.Strong */
        .gu { color: #cd5c5c} /* Generic.Subheading */
        .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
        .kc { color: #f0e68c} /* Keyword.Constant */
        .kd { color: #f0e68c} /* Keyword.Declaration */
        .kn { color: #f0e68c} /* Keyword.Namespace */
        .kp { color: #f0e68c} /* Keyword.Pseudo */
        .kr { color: #f0e68c} /* Keyword.Reserved */
        .kt { color: #bdb76b} /* Keyword.Type */
        .ld { color: #ffffff} /* Literal.Date */
        .m { color: #ffffff} /* Literal.Number */
        .s { color: #ffffff} /* Literal.String */
        .na { color: #ffffff} /* Name.Attribute */
        .nb { color: #ffffff} /* Name.Builtin */
        .nc { color: #ffffff} /* Name.Class */
        .no { color: #ffa0a0} /* Name.Constant */
        .nd { color: #ffffff} /* Name.Decorator */
        .ni { color: #ffdead} /* Name.Entity */
        .ne { color: #ffffff} /* Name.Exception */
        .nf { color: #ffffff} /* Name.Function */
        .nl { color: #ffffff} /* Name.Label */
        .nn { color: #ffffff} /* Name.Namespace */
        .nx { color: #ffffff} /* Name.Other */
        .py { color: #ffffff} /* Name.Property */
        .nt { color: #f0e68c} /* Name.Tag */
        .nv { color: #98fb98} /* Name.Variable */
        .ow { color: #ffffff} /* Operator.Word */
        .w { color: #ffffff} /* Text.Whitespace */
        .mf { color: #ffffff} /* Literal.Number.Float */
        .mh { color: #ffffff} /* Literal.Number.Hex */
        .mi { color: #ffffff} /* Literal.Number.Integer */
        .mo { color: #ffffff} /* Literal.Number.Oct */
        .sb { color: #ffffff} /* Literal.String.Backtick */
        .sc { color: #ffffff} /* Literal.String.Char */
        .sd { color: #ffffff} /* Literal.String.Doc */
        .s2 { color: #ffffff} /* Literal.String.Double */
        .se { color: #ffffff} /* Literal.String.Escape */
        .sh { color: #ffffff} /* Literal.String.Heredoc */
        .si { color: #ffffff} /* Literal.String.Interpol */
        .sx { color: #ffffff} /* Literal.String.Other */
        .sr { color: #ffffff} /* Literal.String.Regex */
        .s1 { color: #ffffff} /* Literal.String.Single */
        .ss { color: #ffffff} /* Literal.String.Symbol */
        .bp { color: #ffffff} /* Name.Builtin.Pseudo */
        .vc { color: #98fb98} /* Name.Variable.Class */
        .vg { color: #98fb98} /* Name.Variable.Global */
        .vi { color: #98fb98} /* Name.Variable.Instance */
        .il { color: #ffffff} /* Literal.Number.Integer.Long */
        .bash .nv {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

/*
* Custom for homepage buttons
*/
.home-buttons {
    .btn {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;

        i {
            font-size: 52px;
            display: block;
            padding: 30px 0 35px 0;
            margin: 0 auto;
        }
    }
}

/*
* Custom for technologies page
*/
.technologies {
    padding: 20px 0;
    .panel-body {
        height: 120px;
        text-align: center;

        &.text-much-more {
            font-size: 48px;
        }
    }
    img {
        max-width:100%;
        max-height:100%;
    }
}
