---
layout: null
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*
* CoScale font and colors
*/
$brand-primary: #f5a153;
$brand-success: #9cc064;
$brand-info:    #6999cc;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$font-family-sans-serif: 'Open Sans', Arial, Geneva, sans-serif;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$grid-gutter-width: 30px;

$breadcrumb-separator: " »";
$breadcrumb-bg: white;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            32px !default;
$font-size-h2:            24px !default;
$font-size-h3:            19px !default;
$font-size-h4:            16px !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            14px !default;

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/*
* Bootstrap specific
*/
$icon-font-path: "{{ site.baseurl }}/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "{{ site.baseurl }}/bower_components/font-awesome/fonts/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome.scss";

/**
 * Change the display property of the alert block because otherwise the layout of it breaks when you add it to tables.
 */
.main .alert {
    display: block !important;
}

body {
    margin-bottom: 50px;
}

.container,
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/*
* Custom class for more spacing between elements
*/
.spacing-top {
    margin-top: 20px;
}

#logo {
    img {
        padding: 10px 0 0 20px;
        width: 270px;
        margin-left: 20px;
    }
}

/*
* Sidebar menu
*/
.sidebar {
    margin-top: 30px;
    border-right: 1px solid #ccc;
    padding-right: 50px;
    padding-top: 15px;

    /* Sidebar navigation */
    .nav-sidebar {
        margin-bottom: 20px;
        color: #333;

        // Accordion
        & li ul {
            display: none;
            margin: 5px 0 20px 0;

            li, ol {
                padding: 5px 0px 5px 8px;
                a {

                }

                ul {
                    margin-left: -30px;
                }
            }
        }

        & li.active ul {
            display: block;
        }

        & > li > a {
            padding-right: 20px;
            padding-left: 20px;
            color: #333;

            &:hover {
                color: #000;
            }

            .glyphicon {
                margin-right: 10px;
            }
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            color: #f5a153;
            background-color: #eee;
            //color: #fff;
            //background-color: #f5a153;
        }
    }

    .footer {
        text-align: center;
        font-size: 12px;
    }
}

@media(min-width:768px) {
    .sidebar {
        position: fixed;
        top: 105px;
        height: 100%;
        overflow: auto;
    }
    .sidebar::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .sidebar::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .sidebar::-webkit-scrollbar-thumb {
        background: #bbb;
    }

    .sidebar::-webkit-scrollbar-thumb:window-inactive {
        background: #bbb;
    }
    #logo img {
        position: fixed;
    }
}

/*
* Main content
*/
.breadcrumb {
    margin-bottom: 0px;
    //padding: 15px 15px;
    margin-top: 30px;

    text-align: right;

    li {
        a {
            color: #888;
        }
    }
}

.main {
    margin-top: 130px;

    h2 {
        margin-top: 20px;
    }

    h2, h3, h4 {
        margin-bottom: 15px;
        a {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            background: transparent url(/gfx/link.png) no-repeat top right;
        }
    }

    .page-header {
        margin-top: 0;
    }

    ul, ol {
        padding: 10px 0px 10px 40px;
    }

    p {
        padding: 3px 0px;
        line-height: 2em;
    }

    img {
        max-width: 100%;
    }

    .table {
        margin: 5px 15px;
    }

    .alert {
        margin: 5px 15px;
    }

    .fa-lg {
        font-size: 1.8em;
    }

    table {
        @extend .table;

        .current {
            border: 2px solid #000;
            border-width: 2px 0px;
            font-weight: bold;
        }

        &.table-browsers {
            tr td {
                width: 10%;
                text-align: center;
            }
        }
    }

    .swagger-section {
        font-size: 1.2em;

        .container {
            width: auto;

            ul, ol {
                padding: 10px 0px 10px 10px
            }
        }

        h2, h3, h4 {
            a {
                background: none;
            }
        }
    }

    .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options {
        margin-top: 32px !important;
    }

    .list-index {
        list-style: none;
        margin-bottom: 0;
        margin-top: 10px;
        li {
            padding: 5px 5px 5px 0;
        }
    }

    .alert {
        display: table;
        width: 90%;
        margin: 15px auto;

        .icon {
            display:table-cell;
            vertical-align: middle;
        }

        .text {
            padding-left: 5px;
            display:table-cell;
        }
    }

    .js-dashboard-link {
        &:hover {
            text-decoration: none;
            cursor: default;
        }

        &.active {
            &:hover {
                cursor: auto;
                background: #e28263;
            }

            background-color: #f09d3e;
            border: 1px solid #e28263;
            color: #fff;
            cursor: pointer;
            padding: 2px 10px;
            border-radius: 5px;
            font-weight: normal;
            transition: background-color .25s ease-out;

            code {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    .highlight {
        padding: 10px 0;

        pre {
            background-color: black;
            color: #EFE;
            font-weight: 500;

            code {
                font-family: Andale Mono, monospace;
            }
        }

        .lineno {
            margin-right: 10px;
            color: #EEE;
        }
        .language-text { color: #fff; }
        .hll { background-color: #ffffcc }
        .c { color: #87ceeb} /* Comment */
        .err { color: #ffffff} /* Error */
        .g { color: #ffffff} /* Generic */
        .k { color: #f0e68c} /* Keyword */
        .l { color: #ffffff} /* Literal */
        .n { color: #ffffff} /* Name */
        .o { color: #ffffff} /* Operator */
        .x { color: #ffffff} /* Other */
        .p { color: #ffffff} /* Punctuation */
        .cm { color: #87ceeb} /* Comment.Multiline */
        .cp { color: #cd5c5c} /* Comment.Preproc */
        .c1 { color: #87ceeb} /* Comment.Single */
        .cs { color: #87ceeb} /* Comment.Special */
        .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
        .ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
        .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
        .gh { color: #cd5c5c} /* Generic.Heading */
        .gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
        span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
        .gp { color: #ffffff} /* Generic.Prompt */
        .gs { color: #ffffff} /* Generic.Strong */
        .gu { color: #cd5c5c} /* Generic.Subheading */
        .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
        .kc { color: #f0e68c} /* Keyword.Constant */
        .kd { color: #f0e68c} /* Keyword.Declaration */
        .kn { color: #f0e68c} /* Keyword.Namespace */
        .kp { color: #f0e68c} /* Keyword.Pseudo */
        .kr { color: #f0e68c} /* Keyword.Reserved */
        .kt { color: #bdb76b} /* Keyword.Type */
        .ld { color: #ffffff} /* Literal.Date */
        .m { color: #ffffff} /* Literal.Number */
        .s { color: #ffffff} /* Literal.String */
        .na { color: #ffffff} /* Name.Attribute */
        .nb { color: #ffffff} /* Name.Builtin */
        .nc { color: #ffffff} /* Name.Class */
        .no { color: #ffa0a0} /* Name.Constant */
        .nd { color: #ffffff} /* Name.Decorator */
        .ni { color: #ffdead} /* Name.Entity */
        .ne { color: #ffffff} /* Name.Exception */
        .nf { color: #ffffff} /* Name.Function */
        .nl { color: #ffffff} /* Name.Label */
        .nn { color: #ffffff} /* Name.Namespace */
        .nx { color: #ffffff} /* Name.Other */
        .py { color: #ffffff} /* Name.Property */
        .nt { color: #f0e68c} /* Name.Tag */
        .nv { color: #98fb98} /* Name.Variable */
        .ow { color: #ffffff} /* Operator.Word */
        .w { color: #ffffff} /* Text.Whitespace */
        .mf { color: #ffffff} /* Literal.Number.Float */
        .mh { color: #ffffff} /* Literal.Number.Hex */
        .mi { color: #ffffff} /* Literal.Number.Integer */
        .mo { color: #ffffff} /* Literal.Number.Oct */
        .sb { color: #ffffff} /* Literal.String.Backtick */
        .sc { color: #ffffff} /* Literal.String.Char */
        .sd { color: #ffffff} /* Literal.String.Doc */
        .s2 { color: #ffffff} /* Literal.String.Double */
        .se { color: #ffffff} /* Literal.String.Escape */
        .sh { color: #ffffff} /* Literal.String.Heredoc */
        .si { color: #ffffff} /* Literal.String.Interpol */
        .sx { color: #ffffff} /* Literal.String.Other */
        .sr { color: #ffffff} /* Literal.String.Regex */
        .s1 { color: #ffffff} /* Literal.String.Single */
        .ss { color: #ffffff} /* Literal.String.Symbol */
        .bp { color: #ffffff} /* Name.Builtin.Pseudo */
        .vc { color: #98fb98} /* Name.Variable.Class */
        .vg { color: #98fb98} /* Name.Variable.Global */
        .vi { color: #98fb98} /* Name.Variable.Instance */
        .il { color: #ffffff} /* Literal.Number.Integer.Long */
        .bash .nv {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

/*
* Custom for technologies page
*/
.technologies {
    padding: 20px 0;
    .panel-body {
        height: 120px;
        text-align: center;

        &.text-much-more {
            font-size: 48px;
        }
    }
    img {
        max-width:100%;
        max-height:100%;
    }
}

@media(min-width:768px) {
    .sidebar {
        position: fixed;
        top: 105px;
        height: 100%;
        overflow: auto;
    }
    .sidebar::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .sidebar::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .sidebar::-webkit-scrollbar-thumb {
        background: #bbb;
    }

    .sidebar::-webkit-scrollbar-thumb:window-inactive {
        background: #bbb;
    }

    #logo img {
        position: fixed;
    }
}

@media(max-width:768px) {
    .main {
        margin-top: 0;
    }

    .footer {
        position: fixed;
        bottom: 0px;
    }
}
