<p class="text-center">
    <a href="{{ site.baseurl }}/"><img id="logo" src="{{ site.baseurl }}/gfx/logo.png" alt="CoScale logo" class="img-responsive" /></a>
</p>

{% assign current = page.url | downcase | split: '/' %}

<ul class="nav nav-sidebar">
    <li {% if current[1] == 'index.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-home"></i> Home</a></li>
</ul>

<!-- <ul class="nav nav-sidebar">
    <li {% if current[1] == 'search.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/search.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
</ul> -->

<ul class="nav nav-sidebar">
    <li {% if current[1] == 'getting-started' %}class='active'{% endif %}><a href="{{ site.baseurl }}/getting-started/">
        <i class="fa fa-fw fa-play"></i> Getting started</a>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/getting-started/">Quick start</a>
                <ul>
                    <li><a href="{{ site.baseurl }}/getting-started/install-create-account.html">Creating a CoScale account</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-rum.html">Installing the Real user monitoring component</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-agent.html">Integrating the agents</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-third-party.html">Activating third party plugins</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-final.html">Pushing custom data</a></li>
                </ul>
            </li>
            <li><a href="{{ site.baseurl }}/getting-started/platforms.html">Supported platforms</a></li>
            <li><a href="{{ site.baseurl }}/getting-started/technologies.html">Supported technologies</a></li>
            <li><a href="{{ site.baseurl }}/getting-started/third-party.html">Supported third-parties</a></li>
        </ul>
    </li>
    <!-- <li {% if current[1] == 'installation' %}class='active'{% endif %}><a href="{{ site.baseurl }}/installation/">
        <i class="fa fa-fw fa-download"></i> Installation</a>
        <ul>
            <li><a href="{{ site.baseurl }}/installation/agent.html">Infrastructure agent</a></li>
            <li><a href="{{ site.baseurl }}/installation/real-user-monitoring.html">Real user monitoring</a></li>
            <li><a href="{{ site.baseurl }}/installation/third-party.html">Third party services</a></li>
            <li><a href="{{ site.baseurl }}/installation/custom-metrics.html">Custom metrics</a></li>
        </ul>
    </li>
    <li {% if current[1] == 'usage' %}class='active'{% endif %}><a href="{{ site.baseurl }}/usage/">
        <i class="fa fa-fw fa-cogs"></i> Usage</a>
        <ul>
            <li><a href="#">Building dashboards</a></li>
            <li><a href="#">Configuring alerts</a></li>
            <li><a href="#">Managing a large infrastructure</a></li>
            <li><a href="#">Pushing events using CoScale commandline</a></li>
        </ul>
    </li>
    <li {% if current[1] == 'use_cases' %}class='active'{% endif %}><a href="{{ site.baseurl }}/use-cases/">
        <i class="fa fa-fw fa-list"></i> Use cases</a>
        <ul>
            <li><a href="#">Getting business insights</a></li>
            <li><a href="#">Cron job monitoring</a></li>
            <li><a href="#">Magento</a></li>
            <li><a href="#">Continuous delivery</a></li>
            <li><a href="#">Pushing custom metrics</a></li>
            <li><a href="#">Marking important events</a></li>
            <li><a href="#">Gathering data with StatsD</a></li>
        </ul>
    </li>
    <li {% if current[1] == 'advanced' %}class='active'{% endif %}><a href="{{ site.baseurl }}/advanced/">
        <i class="fa fa-fw fa-wrench"></i> Advanced</a>
        <ul>
            <li><a href="#">Command line tool</a></li>
            <li><a href="#">Using regular expressions in requests</a></li>
            <li><a href="#">Metrics browser</a></li>
            <li><a href="#">Advanced networking (proxy)</a></li>
            <li><a href="#">Using bash variables</a></li>
            <li><a href="#">Process management</a></li>
            <li><a href="#">Uninstall agent</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Debugging</a></li>
        </ul>
    </li> -->
</ul>

<a href="mailto:support@coscale.com" class="btn btn-info btn-block text-center">Contact support</a>

<!-- <ul class="nav nav-sidebar">
    <li><a href=""><i class="fa fa-fw fa-book"></i> API Docs</a></li>
</ul> -->

<div class="footer spacing-top">
    <p>Copyright 2015 | COSCALE</p>
</div>
