{% assign current = page.url | downcase | split: '/' %}

<ul class="nav nav-sidebar">
    <li {% if current[1] == 'index.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-home"></i> Home</a></li>
</ul>

<!-- <ul class="nav nav-sidebar">
    <li {% if current[1] == 'search.html' %}class='active'{% endif %}><a href="{{ site.baseurl }}/search.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
</ul> -->

<ul class="nav nav-sidebar">
    <li {% if current[1] == 'getting-started' %}class='active'{% endif %}>
        <a href="{{ site.baseurl }}/getting-started/index/"><i class="fa fa-fw fa-play"></i> Getting started</a>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/getting-started/index/">Quick start</a>
                <ul>
                    <li><a href="{{ site.baseurl }}/getting-started/install-create-account">Creating a CoScale account</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-rum">Installing the Real user monitoring component</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-agent">Integrating the agents</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-third-party">Activating third party plugins</a></li>
                    <li><a href="{{ site.baseurl }}/getting-started/install-final">Pushing custom data</a></li>
                </ul>
            </li>
            <li><a href="{{ site.baseurl }}/getting-started/platforms">Supported platforms</a></li>
            <li><a href="{{ site.baseurl }}/getting-started/technologies">Supported technologies</a></li>
            <li><a href="{{ site.baseurl }}/getting-started/third-party">Supported third-parties</a></li>
        </ul>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li {% if current[1] == 'installation' and current[2] == 'agent' %}class='active'{% endif %}><a href="{{ site.baseurl }}/installation/agent/index"><i class="fa fa-fw fa-server"></i> Agent</a></li>
    <li {% if current[1] == 'installation' and current[2] == 'rum' %}class='active'{% endif %}><a href="{{ site.baseurl }}/installation/rum/index"><i class="fa fa-fw fa-globe"></i> Real user monitoring</a></li>
    <li {% if current[1] == 'installation' and current[2] == 'events' %}class='active'{% endif %}><a href="{{ site.baseurl }}/installation/events/index"><i class="fa fa-fw fa-flag"></i> Events</a></li>
    <li {% if current[1] == 'installation' and current[2] == 'custom-metrics' %}class='active'{% endif %}><a href="{{ site.baseurl }}/installation/custom-metrics/index"><i class="fa fa-fw fa-area-chart"></i> Custom metrics</a></li>
    <li {% if current[1] == 'installation' and current[2] == 'tools' %}class='active'{% endif %}>
        <a href="{{ site.baseurl }}/installation/tools/index"><i class="fa fa-fw fa-wrench"></i> Tools</a>
        <ul>
            <li><a href="{{ site.baseurl }}/installation/cli/index">Command line interface</a></li>
            <li><a href="{{ site.baseurl }}/installation/other/index">Other</a></li>
        </ul>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <!--<li {% if current[1] == 'use_cases' %}class='active'{% endif %}><a href="{{ site.baseurl }}/use-cases/">
        <i class="fa fa-fw fa-list"></i> Use cases</a>
        <ul>
            <li><a href="#">Getting business insights</a></li>
            <li><a href="#">Cron job monitoring</a></li>
            <li><a href="#">Magento</a></li>
            <li><a href="#">Continuous delivery</a></li>
            <li><a href="#">Pushing custom metrics</a></li>
            <li><a href="#">Marking important events</a></li>
            <li><a href="#">Gathering data with StatsD</a></li>
        </ul>
    </li>-->
    <li {% if current[1] == 'advanced' %}class='active'{% endif %}><a href="{{ site.baseurl }}/advanced/index">
        <i class="fa fa-fw fa-cogs"></i> Advanced</a>
        <ul>
            <li><a href="{{ site.baseurl }}/advanced/security">Privacy / Security</a></li>
            <li><a href="{{ site.baseurl }}/advanced/firewall-proxy">Firewall / Proxy</a></li>
            <!-- <li><a href="#">Command line tool</a></li>
            <li><a href="#">Using regular expressions in requests</a></li>
            <li><a href="#">Metrics browser</a></li>
            <li><a href="#">Advanced networking (proxy)</a></li>
            <li><a href="#">Using bash variables</a></li>
            <li><a href="#">Process management</a></li>
            <li><a href="#">Uninstall agent</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Debugging</a></li> -->
        </ul>
    </li>
</ul>

<ul class="nav nav-sidebar">
    <li><a href="{{ site.baseurl }}/api/"><i class="fa fa-fw fa-book"></i> API Docs</a></li>
</ul>

<ul class="nav nav-sidebar">
    <li><a href="mailto:info@coscale.com" class="support"><i class="fa fa-fw fa-question-circle"></i> Contact support</a></li>
</ul>



<div class="footer spacing-top">
    <p>Copyright 2015 | CoScale</p>
</div>
