<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQ47L2"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQ47L2');</script>
    <!-- End Google Tag Manager -->

    <div class="container">
        <div class="row spacing-top">
            <div class="col-sm-4 col-md-4 col-lg-3">
                <a id="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/gfx/logo.png" alt="CoScale logo" class="img-responsive" /></a>
                <div class="sidebar">
                    {% include sidebar.html %}
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-9">
                {% capture url_parts %} {{ page.url | replace:'/', " " }}{% endcapture %}
                {% capture num_parts %}{{ url_parts | number_of_words }}{% endcapture %}
                {% assign previous="" %}
                <ol class="breadcrumb">
                    {% if num_parts != "0" or num_parts != "-1" %}
                    <li><a href="/">Home</a></li>
                    {% for unused in site.breadcrumb_list limit:num_parts %}
                    {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
                    {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

                    {% capture num_parts %}{{ url_parts | number_of_words }}{% endcapture %}
                    {% if first_word != "index" and first_word != "index.html" %}
                    {% if num_parts != "1" %}
                    <li><a href="{{previous}}/index">{{ first_word | capitalize | replace:'-', " " }}</a></li>
                    {% else %}
                    <li><a href="{{previous}}">{{ first_word | capitalize | replace:'-', " " }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
                    {% endfor %}
                    {% endif %}
                </ol>

                <div class="main">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="{{ site.baseurl }}/bower_components/lunr.js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/search.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    $(function (){

        function search(value) {
            var results = idx.search(value);

            var noResultDiv =  $("#search-noresults").addClass('hide');
            var resultDiv = $("#search-results").empty();
            resultDiv.append( `<h2>Search results</h2>`);

            if (results.length > 0) {
                $.each(results, function( index, value ) {
                    page = find_entry(value.ref);
                    resultDiv.append('<h3><a href="' + page.id + '">' + page.title + '</a></h3>');
                    resultDiv.append('<p>' + page.description + '</p>');
                });
            } else {
                noResultDiv.removeClass('hide');
            }
        }

        function find_entry(ref) {
            var result = $.grep(docs, function(e){ return e.id == ref; });

            return result[0];
        }

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $('.js-support').click(function(){
            Intercom('show');

            return false;
        });

        var app_id = Cookies.get('APP_ID');
        if (app_id) {
            $('.js-dashboard-link').each(function( index ) {
                $(this).addClass('active');
                $(this).attr("href", "https://app.coscale.com/app/" + app_id + $(this).attr("href"));
            });
        }


        $(".js-search-button").click(function() {
            this.form.submit();
        });

        var searchParameter = getUrlParameter('q');
        $(".search-input").keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                this.form.submit();
            }
        }).val(searchParameter);

        search(searchParameter);
    });

    </script>

    <script type="text/javascript">
    window.intercomSettings = {
        app_id: "oyaxaugr"
    };
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
    s.src='https://widget.intercom.io/widget/oyaxaugr';
    var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
</body>
</html>
