<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQ47L2"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQ47L2');</script>
    <!-- End Google Tag Manager -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://docs.coscale.com">
                    <img src="{{ site.baseurl }}/gfx/logo_white.png" alt="CoScale logo" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if current[1] == 'index.html' %}class='active'{% endif %}>
                        <a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-home hidden-xs hidden-sm"></i> Home</a>
                    </li>

                    <li {% if current[1] == 'dashboard' %}class='active'{% endif %}>
                        <a href="{{ site.baseurl }}/installation.html"><i class="fa fa-fw fa-desktop hidden-xs hidden-sm"></i> Installation</a>
                    </li>

                    <li {% if current[1] == 'dashboard' %}class='active'{% endif %}>
                        <a href="{{ site.baseurl }}/dashboard/index"><i class="fa fa-fw fa-mouse-pointer hidden-xs hidden-sm"></i> Usage</a>
                    </li>

                    <li class="dropdown" id="datasources">
                        <a href="#datasources" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-upload hidden-xs hidden-sm" aria-hidden="true"></i> Datasources <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li {% if current[1] == 'agent' %}class='active'{% endif %}>
                                <a href="{{ site.baseurl }}/agent/index"><i class="fa fa-fw fa-server hidden-xs hidden-sm"></i> Agent</a>
                            </li>
                            <li {% if current[1] == 'rum' %}class='active'{% endif %}>
                                <a href="{{ site.baseurl }}/rum/index"><i class="fa fa-fw fa-globe hidden-xs hidden-sm"></i> Real user monitoring</a>
                            </li>
                            <li {% if current[1] == 'events' %}class='active'{% endif %}>
                                <a href="{{ site.baseurl }}/events/index"><i class="fa fa-fw fa-flag hidden-xs hidden-sm"></i> Events</a>
                            </li>
                            <li {% if current[1] == 'custom-metrics' %}class='active'{% endif %}>
                                <a href="{{ site.baseurl }}/custom-metrics/index"><i class="fa fa-fw fa-area-chart hidden-xs hidden-sm"></i> Custom metrics</a>
                            </li>
                        </ul>
                    </li>

                    <li {% if current[1] == 'alerting' %}class='active'{% endif %}>
                        <a href="{{ site.baseurl }}/alerting/index"><i class="fa fa-fw fa-warning hidden-xs hidden-sm"></i> Alerting</a>
                    </li>

                    <li {% if current[1] == 'tools' %}class='active'{% endif %}>
                        <a href="{{ site.baseurl }}/tools/index"><i class="fa fa-fw fa-wrench hidden-xs hidden-sm"></i> Tools</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-info navbar-btn navbar-right"><i class="fa fa-fw fa-search hidden-xs hidden-sm" aria-hidden="true"></i> Search</button>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row spacing-top">
            <div class="col-sm-12">
                <div class="main">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="{{ site.baseurl }}/bower_components/lunr.js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/search.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    $(function (){

        //
        // Support links
        //
        $('.js-support').click(function(){
            Intercom('show');

            return false;
        });

        //
        // Application links
        //
        var app_id = Cookies.get('APP_ID');
        if (app_id) {
            $('.js-dashboard-link').each(function( index ) {
                $(this).addClass('active');
                $(this).attr("target", "_blank");
                $(this).attr("href", "https://app.coscale.com/app/" + app_id + $(this).attr("db-href"));
            });
        } else {
            $('.js-dashboard-link').click(function(event) {
                event.preventDefault();
            });
        }

        //
        //  Search functionality
        //
        function search(value) {
            var results = idx.search(value);

            var noResultDiv =  $("#search-noresults").addClass('hide');
            var resultDiv = $("#search-results").empty();
            resultDiv.append( `<h2>Search results</h2>`);

            if (results.length > 0) {
                $.each(results, function( index, value ) {
                    page = find_entry(value.ref);
                    resultDiv.append('<h3><a href="' + page.id + '">' + page.title + '</a></h3>');
                    resultDiv.append('<p>' + page.description + '</p>');
                });
            } else {
                noResultDiv.removeClass('hide');
            }
        }

        function find_entry(ref) {
            var result = $.grep(docs, function(e){ return e.id == ref; });

            return result[0];
        }

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $(".js-search-button").click(function() {
            this.form.submit();
        });

        var searchParameter = getUrlParameter('q').replace("+", " ");
        $(".search-input").keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                this.form.submit();
            }
        }).val(searchParameter);

        search(searchParameter);
    });

    </script>

    <script type="text/javascript">
    window.intercomSettings = {
        app_id: "oyaxaugr"
    };
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
    s.src='https://widget.intercom.io/widget/oyaxaugr';
    var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
</body>
</html>
